jekyll-cache/_site
.sass-cache
bower_components
*.pyc
*.DS_Store
*.egg-info
dist/*
build/*
*.env

doubleoffshore/static/.webassets-cache/*
doubleoffshore/static/vendor/*
doubleoffshore/static/assets/*
