---
layout: default
---

<!-- Intro -->
<div>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt lacus a est accumsan, et pretium odio facilisis. Nullam tempor mi vel tortor pulvinar molestie. Ut non ex non odio volutpat laoreet. Integer in elementum lorem. Cras hendrerit nec lectus et tincidunt. Nam laoreet tempor risus, vehicula hendrerit nisi tristique auctor. Nunc fringilla est leo, efficitur facilisis orci tristique in. Vestibulum ut vehicula urna, et rhoncus arcu. Quisque tempus odio porttitor, iaculis purus non, volutpat dolor. Curabitur convallis sem id purus interdum blandit. Maecenas posuere turpis malesuada tempor efficitur. Nullam mattis turpis lacus, in ultrices lectus fermentum sollicitudin. Vestibulum congue semper imperdiet. Sed elementum odio a tortor gravida maximus.
</div>

<div ng-controller="SankeyController as sankey">

  <!-- Explore tool -->
  <div id="sankey-container" ng-show="activeRigs.length"></div>

  <!-- Info paragraphs -->
  <div id="info-container">

    <!-- Current country -->
    <div ng-show="activeLocation" class="panel-group" id="info-current-country">
      <h3>Current country</h3>
      <div class="panel panel-default">
        <div class="panel-heading ">
          <h4 class="panel-title"><a href="#info-{[activeLocation.type]}-{[activeLocation.slug]}" data-toggle="collapse" data-parent="#info-current-country">{[activeLocation.name]} <i class="fa fa-link"></i></a></h4>
        </div>
        <div id="info-{[activeLocation.type]}-{[activeLocation.slug]}" class="collapse in">
          <div class="panel-body">
            <p>{[activeLocation.blurb]}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Flag countries -->
    <div ng-show="activeFlags.length" class="panel-group" id="info-flags">
      <h3>Flags</h3>
      <div ng-repeat="flag in activeFlags | orderBy: 'name'" class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"><a href="#info-{[flag.type]}-{[flag.slug]}" data-toggle="collapse" data-parent="#info-flags" class="collapsed">{[flag.name]} <i class="fa fa-link"></i></a></h4>
        </div>
        <div id="info-{[flag.type]}-{[flag.slug]}" class="collapse">
          <div class="panel-body">
            <p>{[flag.blurb]}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Companies -->
    <div ng-show="activeCompanies.length" class="panel-group" id="info-companies">
      <h3>Companies</h3>
      <div ng-repeat="company in activeCompanies  | orderBy: 'name'" class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"><a href="#info-{[company.type]}-{[company.slug]}" data-toggle="collapse" data-parent="#info-companies" class="collapsed">{[company.name]} <i class="fa fa-link"></i></a></h4>
        </div>
        <div id="info-{[company.type]}-{[company.slug]}" class="collapse">
          <div class="panel-body">
            <p>{[company.blurb]}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript" src="{{ "/assets/3rdparty/jquery/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/3rdparty/bootstrap/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/3rdparty/angular/js/angular.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/3rdparty/d3/js/d3.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/3rdparty/d3-plugins/js/sankey.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/3rdparty/crossfilter/js/crossfilter.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/app-sankey.js" | prepend: site.baseurl }}"></script>

<style>

/* General */

/* Sankey diagram */

#sankey-container {
  padding: 20px 0;
}

svg {
  font: 10px sans-serif
}

.entity rect {
  cursor: pointer;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.entity.rig rect {
  fill: #53777A;
  stroke: rgba(40, 58, 59, 1.0);
}

.entity.company rect {
  fill: #C02942;
  stroke: rgba(94, 20, 32, 1.0);
}

.entity.flag rect {
  fill: #ECD078;
  stroke: rgba(115, 101, 58, 1.0);
}

.entity text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.relation {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.selected {
  stroke-opacity: .6;
}

</style>