<!DOCTYPE html>
<html ng-app="doubleoffshore">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>How Nigeria's Offshore Industry Works - Double Offshore</title>
    <meta name="author" content="African Network of Centers for Investigative Reporting" />
    
    <link type="text/css" href="/static/assets/style.css?08dff60a" rel="stylesheet">
    
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Kreon:300,400|Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/static/img/favicon.png">
  </head>
  <body>
    

<div id="opener">
  <h1>Drilling for oil in Nigeria, twice offshore</h1>    
</div>

<div class="text-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="copy">
          Offshore oil drilling on the coast of Nigeria is big business.
        </p>
        <p class="copy">
          But many of the rigs used aren't registered in Nigeria, they sail under foreign flags. Thus, they aren't subject to local law, and they don't have to pay taxes for the wealth they generate.
        </p>
        <p class="copy">
          We show the connections between the companies that own and operate oil rigs, and how they are incorporated as companies in, or working through, maritime tax havens.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="graphic-section">
  <div class="container">
    <h2>From tax haven to your doorstep</h2>
    <!-- intro -->
    <div class="row">
      <div class="col-md-9">
        <p class="explainer">
        The visualizations shows the connections between <span class='box rig'>oil rigs</span> in Nigeria, the <span class='box country'>countries</span> they are registered in and the <span class='box company'>companies</span> that own, operate and manage them.
        </p>
      </div>

      <div class="col-md-3">
        <div class="info">
          <p><i class="fa fa-info-circle"></i> Hover over a box to highlight its connections.</p>
          <p><i class="fa fa-info-circle"></i> Click on a box to show more information.</p>
        </div>
      </div>
    </div>
    <div ng-controller="SankeyController as sankey" class="row">
      <!-- sankey diagram -->
      <div class="col-md-12">
        <div id="sankey-container">
        </div>
      </div>
    </div>

    
  </div>
</div>

<div class="text-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="copy">
          The use of tax havens &mdash; also known as 'flags of convenience' removes control over the rigs from the host country where oil is being exploited to an unrelated jurisdiction.
        </p>
        <p class="copy">
          These jurisdictions are often maritime tax havens where oil rigs obtain financial exemptions, perks or legal blind-spots. Blind spots such as a lack of labor, environmental or financial control, and other critical aspects of the oil economy.
        </p>
        <p class="copy">
          Double Offshore serves to connect the dots through ordering data in ways that make sense. As a and to provide case studies in ways that show meaning to the data. 
        </p>
      </div>
    </div>
  </div>
</div>

<div class="graphic-section">
  <div class="container">
    <h2>Explore the data in detail</h2>
    <div ng-controller="NetworkController as network" class="row" id="detail-explorer">
        <!-- query controls -->
        <div class="col-md-2">
            <form ng-submit="update()" role="form">
                <div class="info"><i class="fa fa-info-circle"></i> Select oil rigs by choosing filtering criteria and clicking <em>Show rigs</em>.</div>
                
                <label>Owners:</label>
                <select name="owners" multiple chosen class="form-control" ng-model="selectedOwners" ng-options="o for o in ownerValues" data-placeholder="No owner filter">
                  <option value=""></option>
                </select>

                <label>Operators:</label>
                <select name="operators" multiple chosen class="form-control" ng-model="selectedOperators" ng-options="o for o in operatorValues" data-placeholder="No operator filter" class="form-control">
                  <option value=""></option>
                </select>
                
                <label>Managers:</label>
                <select name="managers" multiple chosen class="form-control" ng-model="selectedManagers" ng-options="o for o in managerValues" data-placeholder="No manager filter">
                  <option value=""></option>
                </select>
                
                <label>Flags:</label>
                <select name="flags" multiple chosen class="form-control" ng-model="selectedFlags" ng-options="o for o in flagValues" data-placeholder="No flag filter">
                  <option value=""></option>
                </select>
                <input type="submit" class="btn btn-primary rigs-update" value="Show rigs" />
            </form>
            <form class="form-inline">
              <label>Organize by</label>
              <select ng-model="groupByField" ng-options="key for (key, val) in groupByOptions" class="form-control">
                <option value="">None</option>
              </select>
            </form>
        </div>

        <!-- network canvas -->
        <div class="col-md-10">
          <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                <a href="#network" aria-controls="network" role="tab" data-toggle="tab">Companies and Rigs</a>
              </li>
              <li role="presentation"><a href="#map" aria-controls="map" role="tab" data-toggle="tab">Flags and Countries</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="network">
                <div id="network-container">
                  <div class="btn-group btn-group-sm" role="group">
                    <button type="button" class="btn btn-default zoomIn">
                      <i class="fa fa-plus"></i>
                    </button>
                    <button type="button" class="btn btn-default zoomOut">
                      <i class="fa fa-minus"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="map">
                <div id="map-container">
                  <!--div class="btn-group btn-group-sm" role="group">
                    <button type="button" class="btn btn-default zoomIn">
                      <i class="fa fa-plus"></i>
                    </button>
                    <button type="button" class="btn btn-default zoomOut">
                      <i class="fa fa-minus"></i>
                    </button>
                  </div-->
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="text-section">
  <div class="container">
    <h2>Where does the data come from?</h2>

<div class="row data-sources">
  <div class="col-md-4">
    &nbsp;
  </div>
  <div class="col-md-8">
    <p>
      DoubleOffshore explores data that comes from a variety of sources. Here you can find an overview of our data sources and the methods we use to extract the data. If you have any additional questions, feel free to contact us at <a href="mailto:info@investigavtivecenters.org">info@investigavtivecenters.org</a>.
    </p>
  </div>

  <div class="col-md-4">
    Rigs
  </div>
  <div class="col-md-8">
    <p>
      To obtain a close-to-exhaustive list of oil rigs we scrape data from databases owned by <a href="http://fpso.com" target="_blank">FPSO</a> and <a href="http://www.rigzone.com" target="_blank">Rigzone</a> (Rigzone providing the richer information of the two). This provides us with vital information such as rig location, jurisdiction and controlling companies - essentially outlining the network of important entities in the oil and gas industry.
    </p>
  </div>

  <div class="col-md-4">
    Companies
  </div>
  <div class="col-md-8">
    <p>
      Companies are related to oil rigs in three primary ways: as owners, operators and managers. All three are relevant when analyzing financial flows. The two main sources for this information are <a href="http://fpso.com" target="_blank">FPSO</a> and <a href="http://www.rigzone.com" target="_blank">Rigzone</a>. We scrape the names of companies from their databases, publicly available via their websites, and match them up to company data from other sources.
    </p>
  </div>

  <div class="col-md-4">
    Countries
  </div>
  <div class="col-md-8">
    <p>
      An important data point for countries is their <a href="http://www.financialsecrecyindex.com" target="_blank">Financial Secrecy Index</a> or FSI. The index ranks jurisdictions according to the secrecy allowed by their legislation and the scale of their activities. As such it is a useful data point by which to gauge the potential for illicit financial flows.
    </p>
    <p>
      Other information shown includes the global maritime flag rank, sourced from the CIA World Factbook, and a short expert analysis for a subset of countries.
    </p>
  </div>
</div>

<h2>What did we find?</h2>
<div class="row data-sources">
  <div class="col-md-4">
  </div>
  <div class="col-md-8">
    <p>It is usually recognized that petroleum industries (and extractive industries more generally) require a specialised fiscal regime which takes into account the economic factors peculiar to them. These factors, so the argument goes, would produce unsatisfactory outcomes were general corporate tax regimes simply applied. The distinctive nature of extraction, then, requires distinctive treatment from a tax perspective.</p>
    <p>Synthesising from the large literature that is available, the following would appear to be the factors most relevant to oil production in a developing country context:</p>
    <ul>
      <li>Very high capital outlays at the start, including outlays for a number of years before production commences and/or income is earned
      <li>Low linkages to the domestic economy
      <li>High prospecting and exploration costs, with a fairly low success rate
      <li>The non-renewable nature of the resource,  suggesting that the cost of current extraction needs to internalise future depletion
      <li>The ‘gift of nature’  dimension (economic rent) suggesting that part of income from extraction may be unearned 
      <li>Price volatility of extractive commodities
      <li>High negative externalities (e.g. environmental impact) in the absence of effective regulation
      <li>Power asymmetries between companies and the state which change over project life; generalizing somewhat, one may note that power resides initially with producers, swings to states once high sunk costs are incurred, and swings back to producers when reserves near depletion 
    </ul>
    <br/>
    <h4><a href="https://docs.google.com/document/d/1Qzwsabb8-QDdzcKlOvH4Ri4dpBRe4uYHAJ3uTq4ifkE/edit?usp=sharing" target="_blank">→ Read The Full Report</a></h4>
  </div>
</div>
  </div>
</div>



    <footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-md-8">
          <p>
            The Double Offshore is a research project of the <a href="https://investigativecenters.org">African Network of Centers for Investigative Reporting</a> (ANCIR). Supported by the <a href="http://www.osiwa.org/">Open Societies Initiatives in West Africa</a> (OSIWA). Opening image CC-BY <a href="https://www.flickr.com/photos/19779889@N00/271642790">arbyreed, flickr</a>.
          </p>
          <p>
            Team: Khadija Sharife (project and research lead), Dan O'Huiginn (data acquisition), Rizmari Versfeld and Friedrich Lindenberg (visualisation). <a href="https://github.com/ANCIR/doubleoffshore">Source code</a> for this site. <a href="mailto:hello@investigate.africa">Get in touch</a> if you'd like to collaborate on this or other projects.
          </p>
        </div>
        <div class="col-md-4">
          <a href="http://www.osiwa.org/"><img src="/static/img/osiwa.png"></a>
          <a href="https://www.investigativecenters.org/"><img src="/static/img/ancir.png"></a>
        </div>
      </div>
    </div>
  </div>
</footer>

    <script>
        var DoubleOffshore = DoubleOffshore || {};
        DoubleOffshore.slug = "nigeria";
    </script>

    
      <script src="/static/assets/jqangular.js?6b3f04f6"></script>
    

    
      <script src="/static/assets/d3app.js?e3f7b357"></script>
    

    
      <script id="popup.html" type="text/ng-template"><div class="modal-header">
  <h3 class="modal-title">Overview: {{d.name}}</h3>
</div>
<div class="modal-body">
  <table class="table" ng-show="d.type == 'rflag' || d.type == 'cflag'">
    <tr>
      <th colspan="4" class="section">Country Facts</th>
    </tr>
    <tr>
      <th width="25%">Region<sup>1</sup></th>
      <td width="25%">{{ d.raw_geography || '&mdash;' }}</td>
      <th width="25%">Population<sup>1</sup></th>
      <td width="25%">{{ d.raw_population || '&mdash;' }}</td>
    </tr>
    <tr>
      <th width="25%">Secrecy Jurisdiction</th>
      <td width="25%">{{ d.raw_secrecy_jurisdiction_or_opacity_characteristics || '&mdash;' }}</td>
      <td colspan="2">
        <span ng-show="d.raw_open_to_foreign_entities == 'Yes'">
          Open to foreign entities with no economic activity in jurisdiction
        </span>
      </td>
    </tr>

    <tr>
      <th colspan="4" class="section">Industry Facts</th>
    </tr>
    <tr>
      <th width="25%">Rank as Oil Producer<sup>1</sup></th>
      <td width="25%">
        <span ng-show="d.raw_oil_producing_rank">#</span>{{ d.raw_oil_producing_rank || '&mdash;' }}
      </td>
      <th width="25%">Barrels per day (thousands)</th>
      <td width="25%" class="num">{{ d.raw_thousand_barrels_per_day || '&mdash;' }}</td>
    </tr>

    <tr>
      <th width="25%">Rank as Maritime Flag<sup>1</sup></th>
      <td width="25%">
        <span ng-show="d.raw_global_rank_as_maritime_flag_cia_factbook">#</span>{{ d.raw_global_rank_as_maritime_flag_cia_factbook || '&mdash;' }}</td>
      
      <th width="25%">Total Vessels<sup>1</sup></th>
      <td width="25%" class="num">{{ d.raw_total_vessel_cia_factbook_20102012 || '&mdash;' }}</td>
    </tr>

    <tr>
      <th width="25%">Oil Tankers<sup>1</sup></th>
      <td width="25%" class="num">{{ d.raw_oil_tankers_20102012 || '&mdash;' }}</td>

      <th width="25%">Foreign Owned Vessels<sup>1</sup></th>
      <td width="25%" class="num">
        {{ d.raw_foreign_owned_cia_factbook_20102012 || '&mdash;' }}
      </td>  
    </tr>

    <tr>
      <th colspan="4" class="section">Financial Secrecy<sup>2</sup></th>
    </tr>
    <tr>
      <th>Rank</th>
      <td>
        <span ng-show="d.raw_fsi_rank">#</span>{{ d.raw_fsi_rank || '&mdash;' }}
        of 82 assessed
      </td>
      <th>
        Secrecy Score
        <small>
          (<a href="http://www.financialsecrecyindex.com/PDF/FSI-Methodology.pdf">method</a>)
        </small>
      </th>
      <td>
        {{ d.raw_fsi_secrecy_score || '&mdash;' }}
      </td>
    </tr>
    <tr ng-show="d.raw_public_company_accounts_fsi">
      <th>Company Accounts</th>
      <td colspan="3">
        {{ d.raw_public_company_accounts_fsi }}
      </td>
    </tr>
    <tr ng-show="d.raw_recorded_corporate_ownership_fsi">
      <th>Record Company Ownership</th>
      <td colspan="3">
        {{ d.raw_information_exchange_fsi }}
      </td>
    </tr>
    <tr ng-show="d.raw_public_company_ownership_fsi">
      <th>Publish Company Ownership</th>
      <td colspan="3">
        {{ d.raw_public_company_ownership_fsi }}
      </td>
    </tr>
    <tr ng-show="d.raw_trust_and_foundations_register_fsi">
      <th>Publish Trusts Ownership</th>
      <td colspan="3">
        {{ d.raw_trust_and_foundations_register_fsi }}
      </td>
    </tr>
    <tr ng-show="d.raw_efficiency_of_tax_administration_fsi">
      <th>Tax Administration</th>
      <td colspan="3">
        {{ d.raw_efficiency_of_tax_administration_fsi }}
      </td>
    </tr>
    <tr ng-show="d.raw_information_exchange_fsi">
      <th>Information Exchange</th>
      <td colspan="3">
        {{ d.raw_information_exchange_fsi }}
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <ul>
          <li>
            <sup>1</sup>
            Central Intelligence Agency, <a ng-href="{{d.raw_cia_factbook_link}}" target="_new">World Factbook, 2010-2012</a>
          </li>
          <li>
            <sup>2</sup>
            Tax Justice Network, 
            <a ng-href="{{d.raw_fsi_url}}" target="_new">Financial Secrecy Index, 2013</a>
          </li>
        </ul>
      </td>
    </tr>
  </table>

  <table class="table" ng-show="d.type == 'rig'">
    <tr>
      <th colspan="4" class="section">Rig Facts<sup>1</sup></th>
    </tr>
    <tr>
      <th width="25%">Location (field)</th>
      <td width="25%">{{ d.raw_locationfield || '&mdash;' }}</td>
      <th width="25%">Field Operator</th>
      <td width="25%">{{ d.raw_fieldoperator || '&mdash;' }}</td>
    </tr>
    <tr>
      <th width="25%">Rig Operator</th>
      <td width="25%">{{ d.raw_operator || '&mdash;' }}</td>
      <th width="25%">Rig Owner</th>
      <td width="25%">{{ d.raw_owner || '&mdash;' }}</td>
    </tr>
    <tr>
      <th width="25%">Country</th>
      <td width="25%">{{ d.raw_country || '&mdash;' }}</td>
      <th width="25%">Flag</th>
      <td width="25%">{{ d.raw_flag.toString() || '&mdash;' }}</td>
    </tr>
    <tr>
      <td colspan="4">
        <ul>
          <li>
            <sup>1</sup>
            {{d.raw_site}}, see <a ng-href="{{d.raw_detailuri}}" target="_new">details</a> (as of {{d.raw_scrapedate}}).
          </li>
        </ul>
      </td>
    </tr>
  </table>

  <table class="table" ng-show="d.type == 'company'">
    <tr>
      <th width="25%">Ultimate Owner</th>
      <td width="25%">{{ d.raw_ultimate_owner || '&mdash;' }}</td>
      <th width="25%">Jurisdiction</th>
      <td width="25%">{{ d.raw_ultimate_owner_jurisdiction || '&mdash;' }}</td>
    </tr>
  </table>
</div>
</script>
    

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-34039573-16', 'auto');
      ga('send', 'pageview');
    </script>

  </body>
</html>