<div class="modal-header">
  <h3 class="modal-title" ng-bind="d.name">huhu</h3>
</div>
<div class="modal-body">
    I'm a banana!

        <!-- Lots of fields not being shown here -->
      <!--
    <strong>FSI score:</strong> {[data["FSI Secrecy Score"]]} (<a target="_blank" href="{[data["FSI URL"]]}">full report</a>)<br/>
    <strong>FSI rank:</strong> {[data["FSI Rank"]]}<br/>
    <strong>Global rank as maritime flag:</strong> {[data["Global Rank as Maritime Flag CIA Factbook"]]}
    </ul>
    <p>{[data['Blurb']}}</p>
    -->

</div>
