<div class="modal-header">
  <h3 class="modal-title" ng-bind="d.name"></h3>
</div>
<div class="modal-body">
    <table class="table" ng-show="d.type == 'rflag' || d.type == 'cflag'">
      <tr>
        <th colspan="4">Country Facts</th>
      </tr>
      <tr>
        <th>Region</th>
        <td ng-bind="d.raw_geography || '&mdash;'"></td>
        <th>Population</th>
        <td ng-bind="d.raw_population || '&mdash;'"></td>
      </tr>

      <tr>
        <th colspan="4">Financial Secrecy Index (2013)</th>
      </tr>
      <tr>
        <th>Rank</th>
        <td>#<span ng-bind="d.raw_fsi_rank || '&mdash;'"></span></td>
        <th>Secrecy Score</th>
        <td><span ng-bind="d.raw_fsi_secrecy_score || '&mdash;'"></span></td>
      </tr>
    </table>

    <ul ng-show="d.type == 'rflag' || d.type == 'cflag'">
      <li>
        <sup>1</sup>
        <a ng-href="{{d.raw_cia_factbook_link}}">CIA World Factbook, 2010-2012</a>
      </li>
    </ul>

    <pre ng-bind="djson"></pre>
</div>
