<h2>Where does the data come from?</h2>

<div class="row data-sources">
  <div class="col-md-4">
    &nbsp;
  </div>
  <div class="col-md-8">
    <p>
      DoubleOffshore explores data that comes from a variety of sources. Here you can find an overview of our data sources and the methods we use to extract the data. If you have any additional questions, feel free to contact us at <a href="mailto:info@investigavtivecenters.org">info@investigavtivecenters.org</a>.
    </p>
  </div>

  <div class="col-md-4">
    Rigs
  </div>
  <div class="col-md-8">
    <p>
      To obtain a close-to-exhaustive list of oil rigs we scrape data from databases owned by <a href="http://fpso.com" target="_blank">FPSO</a> and <a href="http://www.rigzone.com" target="_blank">Rigzone</a> (Rigzone providing the richer information of the two). This provides us with vital information such as rig location, jurisdiction and controlling companies - essentially outlining the network of important entities in the oil and gas industry.
    </p>
  </div>

  <div class="col-md-4">
    Companies
  </div>
  <div class="col-md-8">
    <p>
      Companies are related to oil rigs in three primary ways: as owners, operators and managers. All three are relevant when analyzing financial flows. The two main sources for this information are <a href="http://fpso.com" target="_blank">FPSO</a> and <a href="http://www.rigzone.com" target="_blank">Rigzone</a>. We scrape the names of companies from their databases, publicly available via their websites, and match them up to company data from other sources.
    </p>
  </div>

  <div class="col-md-4">
    Countries
  </div>
  <div class="col-md-8">
    <p>
      An important data point for countries is their <a href="http://www.financialsecrecyindex.com" target="_blank">Financial Secrecy Index</a> or FSI. The index ranks jurisdictions according to the secrecy allowed by their legislation and the scale of their activities. As such it is a useful data point by which to gauge the potential for illicit financial flows.
    </p>
    <p>
      Other information shown includes the global maritime flag rank, sourced from the CIA World Factbook, and a short expert analysis for a subset of countries.
    </p>
  </div>
</div>
