<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-md-8">
          <p>
            The Double Offshore is a research project of the <a href="http://investigativecenters.org">African Network of Centers for Investigative Reporting</a> (ANCIR). Supported by the <a href="http://www.osiwa.org/">Open Societies Initiatives in West Africa</a> (OSIWA). Opening image CC-BY <a href="https://www.flickr.com/photos/19779889@N00/271642790">arbyreed, flickr</a>.
          </p>
          <p>
            Team: <a href="mailto:ksharife@gmail.com">Khadija Sharife</a> (project and research lead), Dan O'Huiginn (data acquisition), Rizmari Versfeld and Friedrich Lindenberg (visualisation). <a href="https://github.com/CodeForAfrica/doubleoffshore">Source code</a> for this site.
          </p>
        </div>
        <div class="col-md-4">
          <a href="http://www.osiwa.org/"><img src="/static/img/osiwa.png"></a>
          <a href="https://www.investigativecenters.org/"><img src="/static/img/ancir.png"></a>
        </div>
      </div>
    </div>
  </div>
</footer>
