<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-md-8">
          The Double Offshore is a research project of the <a href="http://investigativecenters.org">African Network of Centers for Investigative Reporting</a>. Opening image CC-BY <a href="https://www.flickr.com/photos/19779889@N00/271642790">arbyreed, flickr</a>.
        </div>
        <div class="col-md-4">
          <a href="https://www.investigativecenters.org/"><img src="/static/img/ancir.png"></a>
        </div>
      </div>
    </div>
  </div>
</footer>
