{% extends "layout.html" %}

{% block page_title %}Where The Data Comes From{% endblock %}

{% block content %}
<div>
    <h1>Where does the data come from?</h1>

    <p>
        DoubleOffshore explores data that comes from a variety of sources. Here you can find an overview of our data sources and the methods we use to extract the data. If you have any additional questions, feel free to contact us at <a href="mailto:someemailaddress@somedomain.com">someemailaddress@somedomain.com</a>.
    </p>

    <h2>Companies</h2>

    <p></p>

    <h2>Countries</h2>

    <p></p>

    <h2>Rigs</h2>

    <p></p>
</div>
{% endblock %}