{% extends "layout.html" %}

{% block page_title %}Where The Data Comes From{% endblock %}

{% block content %}
<div>
    <h1>Where does the data come from?</h1>

    <p>
        DoubleOffshore explores data that comes from a variety of sources. Here you can find an overview of our data sources and the methods we use to extract the data. If you have any additional questions, feel free to contact us at <a href="mailto:someemailaddress@somedomain.com">someemailaddress@somedomain.com</a>.

        <!-- TODO: get an email address -->
    </p>

    <h2>Rigs</h2>

    <p></p>

    <h2>Companies</h2>

    <p>
       Companies are related to oil rigs in three primary ways: as owners, operators and managers. All three are relevant when analyzing financial flows. The two main sources for this information are <a href="http://www.rigzone.com" target="_blank">Rigzone</a> and <a href="http://fpso.com" target="_blank">FPSO</a>. We scrape the names of companies from their databases, publicly available via their websites, and match them up to company data from other sources.
     </p>

     <!-- TODO: where do we get the company jurisdiction, owner and officer data? -->

    <h2>Countries</h2>

    <p>
        An important data point for countries is their <a href="http://www.financialsecrecyindex.com" target="_blank">Financial Secrecy Index</a> or FSI. The index ranks jurisdictions according to the secrecy allowed by their legislation and the scale of their activities. As such it is a useful data point by which to gauge the potential for illicit financial flows.
    </p>

    <p>
        Other information shown includes the global maritime flag rank, sourced from the CIA World Factbook, and a short expert analysis for a subset of countries.
    </p>
</div>
{% endblock %}