{% extends "layout.html" %}

{% block page_title %}How {{ country }}'s Offshore Industry Works{% endblock %}

{% block content %}
    
  <!-- intro -->
  <div ng-controller="SankeyController as sankey">
    <p>
    The visualizations below show the connections between <span class='box rig'>oil rigs</span> in {{ country }}, the <span class='box country'>countries</span> they are registered in and the <span class='box company'>companies</span> that own, operate and manage them.
    </p>

    <p class="info">Hover over a box to highlight its connections.</p>

    <p class="info">Click on a box to show more information.</p>

    <!-- sankey diagram -->
    <div id="sankey-container"></div>
  </div>

  <div ng-controller="NetworkController as network" class="container-fluid">
      <!-- query controls -->
      <div class="col-md-2">
          <form ng-submit="update()" role="form">
              <span class="text-muted">Select oil rigs by choosing 0 or more filtering criteria and clicking <em>Show rigs</em>.</span>
              <label>Owners:</label>
              <select name="owners" multiple chosen class="form-control" ng-model="selectedOwners" ng-options="o for o in ownerValues" data-placeholder="No owner filter">
                <option value=""></option>
              </select>
              <label>Operators:</label>
              <select name="operators" multiple chosen class="form-control" ng-model="selectedOperators" ng-options="o for o in operatorValues" data-placeholder="No operator filter">
                <option value=""></option>
              </select>
              <label>Managers:</label>
              <select name="managers" multiple chosen class="form-control" ng-model="selectedManagers" ng-options="o for o in managerValues" data-placeholder="No manager filter">
                <option value=""></option>
              </select>
              <label>Flags:</label>
              <select name="flags" multiple chosen class="form-control" ng-model="selectedFlags" ng-options="o for o in flagValues" data-placeholder="No flag filter">
                <option value=""></option>
              </select>
              <br/><input type="submit" class="btn btn-primary" value="Show rigs" />
          </form>
      </div>

      <!-- network canvas -->
      <div class="col-md-10">
        <div role="tabpanel">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#network" aria-controls="network" role="tab" data-toggle="tab">Companies and Rigs</a>
            </li>
            <li role="presentation"><a href="#map" aria-controls="map" role="tab" data-toggle="tab">Flags and Countries</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="network">
              <div id="network-container"></div>
              <div>
                <form class="form-inline">
                  <label>Group by </label>
                  <select ng-model="groupByField" ng-options="key for (key, val) in groupByOptions" class="form-control">
                    <option value="">None</option>
                  </select>
                </form>
              </div>

            </div>
            <div role="tabpanel" class="tab-pane" id="map">
              <div id="map-container"></div>
            </div>
          </div>
        </div>
      </div>
  </div>

{% endblock %}

